<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <label>名前</label>
    <label>(姓)</label>
    <%= f.text_field :last_name %>
    <label>(名)</label>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <label>フリガナ</label>
    <label>(セイ)</label>
    <%= f.text_field :last_name_kana %>
    <label>(メイ)</label>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <label>メールアドレス</label>
    <%= f.email_field :email %>
  </div>

  <div>
    <label>郵便番号(ハイフンなし)</label>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <label>住所</label>
    <%= f.text_field :address %>
  </div>

  <div>
    <label>電話番号(ハイフンなし)</label>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <label>パスワード(6文字以上)</label>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <label>パスワード(確認用)</label>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<div>
  <%= link_to "こちら", new_customer_session_path %>
  からログインしてください。
</div>
