<div class="container">
  <div class="row"><h2 class="col-5 text-center">商品編集</h2></div>

  <% if flash[:alert] %>
    <div class="row col-12 bg-danger py-2 mb-3">
      <p id="alert" class="col-6 text-center text-white mx-auto my-0">
        <%= flash[:alert] %>
      </p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2"></div>

    <div class="col-7 mx-auto">
        <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

        <div class="form-group row">
          <label class="col-4 text-left">商品画像</label>
          <%= f.file_field :item_image, accept: "image/*", class:"form-control-file col-8" %>
        </div>

        <div class="form-group row">
          <label class="col-4">商品名</label>
          <%= f.text_field :name, class:"form-control col-8" %>
        </div>

        <div class="form-group row">
          <label class="col-4">商品説明</label>
          <%= f.text_area :introduction, rows: "8", class:"form-control col-8" %>
        </div>

        <div class="form-group row">
          <label class="col-4">ジャンル</label>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {class:"genre_select col-6"} %>
        </div>

        <div class="form-group row">
          <label class="col-4">税抜価格</label>
          <%= f.text_field :price, class:"form-control col-6" %>
          <label class="col-2 text-left">円</label>
        </div>

        <div class="form-group row">
          <label class="col-4">販売ステータス</label>
          <div class="col-4">
            <%= f.radio_button :is_active, 'true' %>
            <%= f.label :is_active, '販売中', value: true %>
          </div>
          <div class="col-4">
            <%= f.radio_button :is_active, 'false' %>
            <%= f.label :is_active, '販売停止中', value: false %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4"></div>
          <%= f.submit '変更を保存', class:"btn btn-success col-4" %>
          <div class="col-4"></div>
        </div>


      <% end %>
    </div>

    <div class="col-3"></div>

  </div>
</div>