<div class="container">
  <div class="row mt-4">
    <div class="col-8 row mx-auto">
      <h3 class="col-4 rounded text-center bg-light">商品新規登録</h3>
    </div>
  </div>
  <div class="row my-4">

    <div class="col-8 mx-auto">
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

        <div class="form-group row">
          <label class="col-3 text-left">商品画像</label>
          <%= f.file_field :item_image, accept: "image/*", class:"form-control-file col-8 mx-auto" %>
        </div>

        <div class="form-group row">
          <label class="col-3">商品名</label>
          <%= f.text_field :name, class:"form-control col-8 mx-auto" %>
        </div>

        <div class="form-group row">
          <label class="col-3">商品説明</label>
          <%= f.text_area :introduction, rows: "8", class:"form-control col-8 mx-auto" %>
        </div>

        <div class="form-group row">
          <label class="col-3">ジャンル</label>
          <%= f.select :genre_id, options_for_select([["ジャンルを選択してください", ''], ["ケーキ", '1'], ["プリン", '2'], ["焼き菓子", '3']]), {}, {class:"form-control genre_select col-8 mx-auto"} %>
        </div>

        <div class="form-group row">
          <label class="col-3">税抜価格</label>
          <%= f.text_field :price, class:"form-control col-7 ml-auto" %>
          <%= f.label '円', class:"col-1 mr-auto text-left" %>
        </div>

        <div class="form-group row">
          <label class="col-3">販売ステータス</label>
          <div class="col-4 ml-auto">
            <%= f.radio_button :is_active, 'true' %>
            <%= f.label :is_active, '販売中', value: true %>
          </div>
          <div class="col-4 mr-auto">
            <%= f.radio_button :is_active, 'false' %>
            <%= f.label :is_active, '販売停止中', value: false %>
          </div>
        </div>

        <div class="form-group row mb-4">
          <%= f.submit '新規登録', class:"btn btn-lg btn-success col-4 mx-auto" %>
        </div>


      <% end %>
    </div>

  </div>
</div>