<div class="container">
  <div class="row mt-4">
    <div class="col-8 row mx-auto">
      <h3 class="col-4 rounded text-center bg-light">商品新規登録</h3>
    </div>
  </div>

  <% if flash[:alert] %>
    <div class="row col-12 bg-danger py-2 mb-3">
      <p id="alert" class="col-6 text-center text-white mx-auto my-0">
        <%= flash[:alert] %>
      </p>
    </div>
  <% end %>

  <div class="row my-4">

    <div class="col-10 mx-auto">
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

        <table class="table table-borderless">
          <tr class="form-group row mb-0">
            <th class="col-3 text-left">商品画像</th>
            <td class="col-8"><%= f.file_field :item_image, accept: "image/*", class:"form-control-file mx-auto" %></td>
          </tr>

          <tr class="form-group row mb-0">
            <th class="col-3">商品名</th>
            <td class="col-8"><%= f.text_field :name, class:"form-control mx-auto" %></td>
          </tr>

          <tr class="form-group row mb-0">
            <th class="col-3">商品説明</th>
            <td class="col-8"><%= f.text_area :introduction, rows: "8", class:"form-control mx-auto" %></td>
          </tr>

          <tr class="form-group row mb-0">
            <th class="col-3">ジャンル</th>
            <td class="col-8"><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "ジャンルを選択してください", class:"form-control genre_select col-8 ml-0" %></td>
          </tr>

          <tr class="form-group row mb-0">
            <th class="col-3">税抜価格</th>
            <td class="col-8 row ml-0">
              <%= f.text_field :price, class:"form-control col-6 ml-0" %>
              <%= f.label '円', class:"col-6 mr-auto text-left mb-0" %>
            </td>
          </tr>

          <tr class="form-group row mb-0">
            <th class="col-3">販売ステータス</th>
            <td class="col-8 row ml-0">
              <div class="col-5 ml-auto">
                <%= f.radio_button :is_active, 'true' %>
                <%= f.label :is_active, '販売中', value: true %>
              </div>
              <div class="col-5 mr-auto">
                <%= f.radio_button :is_active, 'false' %>
                <%= f.label :is_active, '販売停止中', value: false %>
              </div>
            </td>
          </tr>

        </table>

        <div class="form-group row mb-4">
          <%= f.submit '新規登録', class:"btn btn-lg btn-success col-4 mx-auto" %>
        </div>

      <% end %>
    </div>

  </div>
</div>