<div class="container">
  <div class="row mt-4">
    <div class="col-8 row mx-auto">
      <h3 class="col-4 rounded text-center bg-light">商品詳細</h3>
    </div>
  </div>

  <div class="row my-4">

    <div class="col-4 ml-auto">
      <%= image_tag @item.get_item_image(300, 200) %>
    </div>

    <div class="col-6 mr-auto">
      <div class="row mb-2">
        <label class="col-3">商品名</label>
        <div class="col-8"><%= @item.name %></div>
      </div>

      <div class="row mb-2">
        <label class="col-3">商品説明</label>
        <div class="col-8"><%= @item.introduction %></div>
      </div>

      <div class="row mb-2">
        <label class="col-3">ジャンル</label>
        <div class="col-8"><%= @item.genre.name %></div>
      </div>

      <div class="row mb-2">
        <label class="col-3">税込価格<br>(税抜価格)</label>
        <div class="col-8"><%= @item.price_inc_tax(@item.price) %>円</div>
      </div>

      <div class="row mb-2">
        <label class="col-3">販売ステータス</label>
        <div class="col-8">
          <% if @item.is_active == true %>
            <label class="text-success"><strong>販売中</strong></label>
          <% else %>
            <label class="text-danger"><strong>販売停止中</strong></label>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-4"></div>

    <div class="col-4 text-center">
      <%= link_to edit_admin_item_path(@item.id) do %>
        <button type="button" class="btn btn-lg btn-success">編集する</button>
      <% end %>
    </div>

    <div class="col-4"></div>
  </div>



</div>

