<div class="container">
  <h4 class="row text-left">商品詳細</h4>

  <div class="row">
    <div class="col-3">
      <%= image_tag @item.item_image %>
    </div>

    <div class="col-9">
      <label>商品名</label>
      <p><%= @item.name %></p>

      <label>商品説明</label>
      <p><%= @item.introduction %></p>

      <label>ジャンル</label>
      <p><%= @item.genre %></p>

      <label>税込価格(税抜価格)</label>
      <p><%= @item.price_inc_tax (@item.price) %>円</p>

      <label>販売ステータス</label>
      <p><%= @item.is_active %></p>

    </div>
  </div>

  <%= link_to edit_admin_item(@item.id) do %>
    <button type="button" class"btn btn-success">編集する</button>
  <% end %>

</div>

