<div class="container">
  <div class="row mt-4">
    <div class="col-8 row mx-auto">
      <h3 class="rounded text-center bg-light"><%= @customer.full_name(@customer.last_name, @customer.first_name) %>さんの会員詳細</h3>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="row mt-4">
      <div class="col-10 mx-auto bg-info py-2">
        <p id="notice" class="text-center text-white my-auto"><%= flash[:notice] %></p>
      </div>
    </div>
  <% end %>

  <div class="row my-4">
    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">会員ID</label>
      <div class="col-8 mr-auto"><%= @customer.id %></div>
    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">氏名</label>
      <div class="col-8 mr-auto">
        <%= @customer.last_name %>
        <%= @customer.first_name %>
      </div>
    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">フリガナ</label>
      <div class="col-8 mr-auto">
        <%= @customer.last_name_kana %>
        <%= @customer.first_name_kana %>
      </div>
    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">郵便番号</label>
      <div class="col-8 mr-auto">
        <%= @customer.postal_code %>
      </div>
    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">住所</label>
      <div class="col-8 mr-auto">
        <%= @customer.address %>
      </div>

    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">電話番号</label>
      <div class="col-8 mr-auto">
        <%= @customer.telephone_number %>
      </div>

    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">メールアドレス</label>
      <div class="col-8 mr-auto">
        <%= @customer.email %>
      </div>
    </div>

    <div class="col-12 row mb-3">
      <label class="col-2 ml-auto">会員ステータス</label>
      <div class="col-8 mr-auto">
        <% if @customer.is_deleted == false %>
          <label class="text-success"><strong>有効</strong></label>
        <% else %>
          <label class="text-danger"><strong>退会</strong></label>
        <% end %>
      </div>
    </div>

    <div class="col-12 row">
      <div class="col-2 ml-auto"></div>
      <div class="col-8 mr-auto">
        <%= link_to edit_admin_customer_path(@customer.id) do %>
          <button type="button" class="btn btn-lg btn-success mr-3">編集する</button>
        <% end %>

        <%= link_to admin_path do %>
          <button type="button" class="btn btn-lg btn-primary">注文履歴一覧を見る</button>
        <% end %>
      </div>
    </div>

  </div>


</div>