<div class="container">
  <div class="row col-10 mx-auto my-3">
    <h4 class="col-5 text-left">注文履歴詳細</h4>
  </div>


  <% if flash[:notice] %>
    <div class="row col-12 bg-info py-2">
      <p id="notice" class="col-6 text-center text-white mx-auto my-0">
        <%= flash[:notice] %>
      </p>
    </div>
  <% elsif flash[:alert] %>
    <div class="row col-12 bg-danger py-2">
      <p id="alert" class="col-6 text-center text-white mx-auto my-0">
        <%= flash[:alert] %>
      </p>
    </div>
  <% end %>

  <div class="row mb-2">
    <table class="table table-borderless">
      <tr>
        <th class="col-2">購入者</th>
        <td class="col-10"><%= @order.customer.full_name(@order.customer.last_name, @order.customer.first_name) %></td>
      </tr>
      <tr>
        <th class="col-2">注文日</th>
        <td class="col-10"><%= @order.created_at %></td>
      </tr>
      <tr>
        <th class="col-2">配送先</th>
        <td class="col-10">
          〒<%= @order.postal_code %>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th class="col-2">支払方法</th>
        <td class="col-10">
          <% if @order.payment_method == 0 %>
            <%= Order.payment_methods_i18n[:credit_card] %>
          <% else %>
            <%= Order.payment_methods_i18n[:transfer] %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="col-2">注文ステータス</th>
        <td class="col-10">
          <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>

            <%= f.select :order_status, Order.order_statuses.keys %>
            <%= f.submit "更新", class:"btn btn-success" %>

          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row mb-2">
    <div class="col-9 pl-0">
      <table class="table">

        <thead class="table table-secondary">
          <tr>
            <th class="col-4">商品名</th>
            <th class="col-2">単価(税込)</th>
            <th class="col-1">数量</th>
            <th class="col-2">小計</th>
            <th class="col-3">製作ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @order.order_details.each do |order_detail| %>

            <tr>
              <td class="col-4"><%= order_detail.item.name %></td>
              <td class="col-2"><%= order_detail.item.price_inc_tax %></td>
              <td class="col-1"><%= order_detail.amount %></td>
              <td class="col-2"><%= order_detail.item.price_inc_tax * order_detail.amount %></td>
              <td class="col-3">
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>

                  <%= f.select :work_status, OrderDetail.work_statuses.keys %>
                  <%= f.submit "更新", class:"btn btn-success" %>

                <% end %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>


    <div class="col-3 row mt-5 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th class="col-7 mb-3"><strong>商品合計</strong></th>
          <td class="col-5 mb-3"><%= @order.total_payment - @order.shipping_fee %>円</td>
        </tr>
        <tr>
          <th class="col-7 mb-3"><strong>送料</strong></th>
          <td class="col-5 mb-3"><%= @order.shipping_fee %>円</td>
        </tr>
        <tr>
          <th class="col-7 mb-3"><strong>請求金額合計</strong></th>
          <td class="col-5 mb-3"><strong><%= @order.total_payment %>円</strong></td>
        </tr>
      </table>

    </div>

  </div>
</div>