<h4>ショッピングカート</h4>

<% if flash[:notice] %>
  <div class="row col-12 bg-info py-2">
    <p id="notice" class="col-6 text-center text-white mx-auto my-0">
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>

<% if @cart_items.count != 0 %>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @cart_items.each do |cart_item| %>

      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price_inc_tax %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.sum_of_price %></td>
        <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete %></td>
      </tr>

      <% end %>
    </tbody>
  </table>

  <div>
    <div>
      <%= link_to root_path do %>
        <button type="btn btn-primary">買い物を続ける</button>
      <% end %>
    </div>


    <table>
      <tr>
        <th>合計金額</th>
        <td><%= @total.round.to_i %></td>
      </tr>
    </table>
  </div>

  <%= link_to new_order_path do %>
    <button type="btn btn=success">情報入力画面に進む</button>
  <% end %>

<% else %>

  <p>現在、カートに商品は入っていません。</p>

  <%= link_to items_path do %>
    <button type="button" class="btn btn-light">商品を見に行く</button>
  <% end %>

<% end %>