<div class="container my-auto">
  <div class="row mt-4">
    <div class="col-10 row mx-auto">
      <h3 class="rounded text-center bg-light">新規会員登録</h3>
    </div>
  </div>

  <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

    <div class="row my-4">
      <div class="form-group col-12 row mb-3">
        <label class="col-3">名前</label>
        <div class="col-8 mr-auto row">
          <label class="col-1 p-0">(姓)</label>
          <%= f.text_field :last_name, class:"form-control col-4 mr-3" %>
          <label class="col-1 p-0">(名)</label>
          <%= f.text_field :first_name, class:"form-control col-4" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">フリガナ</label>
        <div class="col-8 mr-auto row">
          <label class="col-1 p-0">(セイ)</label>
          <%= f.text_field :last_name_kana, class:"form-control col-4 mr-3" %>
          <label class="col-1 p-0">(メイ)</label>
          <%= f.text_field :first_name_kana, class:"form-control col-4" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">メールアドレス</label>
        <div class="col-8 mr-auto row">
          <div class="col-1 p-0"></div>
          <%= f.text_field :email, class:"form-control col-4" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">郵便番号(ハイフンなし)</label>
        <div class="col-8 mr-auto row">
          <div class="col-1 p-0"></div>
          <%= f.text_field :postal_code, class:"form-control col-4" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">住所</label>
        <div class="col-8 mr-auto row">
          <div class="col-1 p-0"></div>
          <%= f.text_field :address, class:"form-control col-11" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">電話番号(ハイフンなし)</label>
        <div class="col-8 mr-auto row">
          <div class="col-1 p-0"></div>
          <%= f.text_field :telephone_number, class:"form-control col-4" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">パスワード(6文字以上)</label>
        <div class="col-8 mr-auto row">
          <div class="col-1 p-0"></div>
          <%= f.password_field :password, class:"form-control col-4" %>
        </div>
      </div>

      <div class="form-group col-12 row mb-3">
        <label class="col-3">パスワード(確認用)</label>
        <div class="col-8 mr-auto row">
          <div class="col-1 p-0"></div>
          <%= f.password_field :password_confirmation, class:"form-control col-4" %>
        </div>
      </div>

      <div class="col-12 row">
      <div class="col-3"></div>
      <div class="col-8 mr-auto row">
        <div class="col-1 p-0"></div>
        <%= f.submit '新規登録', class:"form-control btn btn-success btn-lg col-4"%>
      </div>
      </div>

    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-10 row mx-auto">
      <h3 class="rounded text-center bg-light">既に登録済みの方</h3>
    </div>
    <div class="col-8 row mx-auto">
      <%= link_to "こちら", new_customer_session_path %>
      からログインしてください。
    </div>
  </div>

</div>