<h2><%= @customer.nameさんの会員情報編集 %></h2>

<%= form_with model: @customer, url: edit_admin_customer(@customer.id), method: :update do |f| %>

  <div>
    <label>氏名</label>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <label>フリガナ</label>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div>
    <label>郵便番号</label>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <label>住所</label>
    <%= f.text_field :address %>
  </div>

  <div>
    <label>電話番号</label>
    <%= f.text_field :telephone_number %>
  </div>

  <div>
    <label>メールアドレス</label>
    <%= f.text_field :email %>
  </div>

  <div>
    <label>会員ステータス</label>
    <%= f.radio_button :is_deleted, 'false' %>
    <%= f.label :is_deleted, '有効', value: false %>

    <%= f.radio_button :is_deleted, 'true' %>
    <%= f.label :is_deleted, '退会', value: true %>
  </div>