<h2><%= @customer.nameさんの会員詳細 %></h2>

<div>
  <label>会員ID</label>
  <%= @customer.id %>
</div>

<div>
  <label>氏名</label>
  <%= @customer.last_name　@customer.first_name %>
</div>

<div>
  <label>フリガナ</label>
  <%= @customer.last_name_kana　@customer.first_name_kana %>
</div>

<div>
  <label>郵便番号</label>
  <%= @customer.postal_code %>
</div>

<div>
  <label>住所</label>
  <%= @customer.address %>
</div>

<div>
  <label>電話番号</label>
  <%= @customer.telephone_number %>
</div>

<div>
  <label>メールアドレス</label>
  <%= @customer.email %>
</div>

<div>
  <label>会員ステータス</label>
  <%= @customer.is_deleted %>
</div>

<%= link_to '編集する', edit_admin_customer(@customer.id) %>
<%= link_to '注文履歴一覧を見る(のち遷移先変更)', edit_admin_customer(@customer.id)