<div class="container mx-auto">

  <div class="row col-10 mx-auto my-3">
    <h4 class="col-5 text-left">注文履歴一覧</h4>
  </div>

  <div class="row mx-auto">
    <div class="col-9 ml-auto">
      <table class="table table-bordered boedered-dark">
        <thead>
          <tr class="table table-secondary">
            <th class="col-6">商品名</th>
            <th class="col-2">単価(税込)</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
          </tr>
        </thead>

        <tbody>

          <% @cart_items.each do |cart_item| %>

          <tr>
            <td class="col-6"><%= cart_item.item.name %></td>
            <td class="col-2"><%= cart_item.item.price_inc_tax %></td>
            <td class="col-2"><%= cart_item.amount %></td>
            <td class="col-2"><%= cart_item.sum_of_price %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3 mr-auto">
      <table class="table table-bordered boedered-dark">
        <tr>
          <th class="table table-secondary col-6">送料</th>
          <td class="col-6"><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <th class="table table-secondary col-6">合計金額</th>
          <td class="col-6"><%= @total.round.to_i %></td>
        </tr>
        <tr>
          <th class="table table-secondary col-6">請求金額</th>
          <td class="col-6"><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mx-auto">
    <label class="col-3">支払方法</label>
    <div class="col-5 mr-auto">
      <% if @order.payment_method == 0 %>
        <%= Order.payment_methods_i18n[:credit_card] %>
      <% else %>
        <%= Order.payment_methods_i18n[:transfer] %>
      <% end %>
    </div>
  </div>

  <div class="row mx-auto">
    <label class="col-3">お届け先</label>
    <div class="col-5 mr-auto">
      <%= @order.postal_code %>
      <%= @order.address %><br>
      <%= @order.name %>
    </div>
  </div>


  <%= form_with model: @order, url: orders_path, method: :post do |f| %>

    <div class="row mx-auto">

      <%= f.hidden_field :name, :value => @order.name %>
      <%= f.hidden_field :postal_code, :value => @order.postal_code %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :shipping_fee, :value => @order.shipping_fee %>
      <%= f.hidden_field :total_payment, :value => @order.total_payment %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <%= f.hidden_field :order_status, :value => Order.order_statuses.key(0) %>

      <%= f.submit '注文を確定する', class:"btn btn-success btn-lg col-4 mx-auto" %>
    </div>

  <% end %>

</div>