<h4>注文情報入力</h4>

<div>
  <%= form_with model: @order, url: confirm_order_path, local: true do |f| %>

    <div>
      <label>支払方法</label>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>

      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
    </div>

    <div>
      <label>お届け先</label>

      <div>
        <%= f.radio_button :address_number, 1 %>
        <%= f.label :address_number_1, 'ご自身の住所' %><br>
        <div>
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %>
          <%= current_customer.full_name(current_customer.last_name, current_customer.first_name) %>
        </div>
      </div>


      <div>
        <%= f.radio_button :address_number, 3 %>
        <%= f.label :address_number_3, '新しいお届け先' %><br>
        <div>
          郵便番号(ハイフンなし)<%= f.text_field :postal_code %>
          住所<%= f.text_field :address %>
          宛名<%= f.text_field :name %>
        </div>
      </div>
    </div>

    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.hidden_field :shipping_fee, :value => @order.shipping_fee %>
    <%= f.hidden_field :total_payment, :value => @order.total_payment %>

    <%= f.submit '確認画面へ進む', class:"btn btn-primary" %>

  <% end %>
</div>
