<div class="container">

  <% if flash[:notice] %>
    <div class="row col-12 bg-danger py-2">
      <p id="notice" class="col-6 text-center text-white mx-auto my-0">
        <%= flash[:notice] %>
      </p>
    </div>
  <% end %>

  <div class="row">

    <div class="col-3 row my-4">
      <div class="col-12 mr-2">
        <table class="table table-hover">
          <thead>
            <tr class="table-secondary">
              <th>ジャンル検索</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @genres.each do |genre| %>
                <td class="col-12 row m-0"><%= genre.name %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-4 mx-2 py-4">
      <%= image_tag @item.get_item_image(300, 200) %>
    </div>

    <div class="col-5 row py-4">
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

        <h4 class="col-12 py-3 mb-0"><strong><%= @item.name %></strong></h4>
        <div class="col-12 p-3"><%= @item.introduction %></div>
        <h4 class="p-3"><strong>￥<%= @item.price_inc_tax %></strong><small>(税込)</small></h4>

        <%= f.select :amount, options_for_select([["個数選択", ''], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9]]), {}, {class:"amount_select col-5 p-1 mx-3"} %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit 'カートに入れる', class:'btn btn-success col-5 mx-3' %>

      <% end %>
    </div>
  </div>


  </div>
</div>