<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <script src="https://kit.fontawesome.com/548cdec849.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% content_for :content do %>
      <%= render 'layouts/admin/header' %>
      <%= yield %>
      <%= render 'layouts/admin/footer' %>
    <% end %>
    <%= render template: "layouts/application" %>
  </body>
</html>

